USE [EdiOrdering]

DELETE FROM [Route].[CustomerSetting]
DELETE FROM [Route].[Route]
DELETE FROM [Route].[RouteSite]
DELETE FROM [Route].[SiteOrderType]
DELETE FROM [Route].[DeliveryDateDefault]
DELETE FROM [Route].[DeliveryDateException]


INSERT INTO  [Route].[Route] ([DESCRIPTION], [ROUTENUMBER])
	SELECT 
		[RTDESCRIPTION] AS [DESCRIPTION],
		[RTID] AS [ROUTENUMBER]
	FROM [BATCH PICKING].[DBO].[CFR00100]

INSERT INTO [Route].[CustomerSetting] (CustomerId, RouteID, DelayedBillingID, HasFinancialHold, PetFoodID, HasShippingCharge, PetFoodMoney)
	SELECT	CS.CUSTNMBR, R.ROUTEID, DELAYEDBILLING, FINANCEHOLD, PETFOOD, SHIPPINGCHARGE, PETFOOD_MONEY
	FROM	[BATCH PICKING].DBO.CLINIC_SETTINGS CS LEFT JOIN [Route].ROUTE R ON CS.RTID = R.ROUTENUMBER LEFT JOIN WDDC.DBO.RM00101 RM ON RTRIM(CS.CUSTNMBR) = RTRIM(RM.CUSTNMBR)

INSERT INTO [Route].[ROUTESITE] ([ROUTEID], [SITEID])
	SELECT DISTINCT  T2.ROUTEID, T1.SITEID
	FROM [BATCH PICKING].[DBO].[CFR00110] T1 LEFT JOIN [Route].[Route] T2
		ON T1.RTID = T2.ROUTENUMBER
	
INSERT INTO [Route].[SITEORDERTYPE] ( [ROUTESITEID], [ORDERTYPEID])
	SELECT DISTINCT RS.ROUTESITEID, T1.SDTYPE
	FROM [BATCH PICKING].[DBO].[CFR00110] T1 LEFT JOIN [Route].[Route] R
		ON T1.RTID = R.ROUTENUMBER
		LEFT JOIN [Route].[RouteSite] RS ON RS.ROUTEID = R.ROUTEID AND RS.SITEID = T1.SITEID

INSERT INTO  [Route].[DELIVERYDATEDEFAULT] ([HasDelivery],[IncrementDeliveryByDays],[DELIVERYCUTOFF],[SITEORDERTYPEID],[DAYOFWEEKID])
SELECT DISTINCT 
      [NODELIVERY]^1
      ,[DAYSINC]
      ,[CUTOFFTIME]
	  ,SOT.SITEORDERTYPEID
      ,[WEEKDAYNBR]
  FROM [BATCH PICKING].[DBO].[CFR00110] T1 LEFT JOIN [Route].[Route] R
		ON T1.RTID = R.ROUTENUMBER
		LEFT JOIN [Route].[RouteSite] RS ON RS.ROUTEID = R.ROUTEID AND RS.SITEID = T1.SITEID
		LEFT JOIN [Route].[SITEORDERTYPE] SOT ON SOT.ROUTESITEID = RS.ROUTESITEID AND SOT.ORDERTYPEID = T1.SDTYPE

INSERT INTO [Route].[DELIVERYDATEEXCEPTION] (DATE, DELIVERYDATEDEFAULTID, HASDELIVERY, INCREMENTDELIVERYBYDAYS, DELIVERYCUTOFF)
SELECT	E.DT_EXCEP, DDD.DELIVERYDATEDEFAULTID, E.NODELIVERY ^1 AS [HasDelivery], E.DAYSINC AS INCREMENTDELIVERYBYDAYS, E.CUTOFFTIME DELIVERYCUTOFF
FROM	[Route].ROUTE R LEFT JOIN ROUTE.[RouteSite] RS ON R.ROUTEID = RS.ROUTEID
	LEFT JOIN [Route].SITEORDERTYPE SOT ON RS.ROUTESITEID = SOT.ROUTESITEID
	LEFT JOIN [Route].DELIVERYDATEDEFAULT DDD ON DDD.SITEORDERTYPEID = SOT.SITEORDERTYPEID
	INNER JOIN [BATCH PICKING].[DBO].[CFR00120] E ON E.RTID = R.ROUTENUMBER AND E.SITEID = RS.SITEID 
		AND E.SDTYPE = SOT.ORDERTYPEID AND E.WEEKDAYNBR = DDD.DAYOFWEEKID


