use [EDIOrdering]
  -- [EDIORDERING].[DBO].[CFR00100]
GO
IF EXISTS(SELECT * FROM SYS.VIEWS WHERE NAME = 'CFR00100')
	DROP VIEW DBO.CFR00100
  
GO
IF EXISTS(SELECT * FROM SYS.VIEWS WHERE NAME = 'CFR00110')
	DROP VIEW DBO.CFR00110
GO

IF EXISTS(SELECT * FROM SYS.VIEWS WHERE NAME = 'CLINIC_SETTINGS')
	DROP VIEW DBO.CLINIC_SETTINGS

GO
IF OBJECT_ID('dbo.CLINIC_SETTINGS', 'U') IS NOT NULL 
  DROP TABLE dbo.CLINIC_SETTINGS; 
GO
IF EXISTS(SELECT * FROM SYS.VIEWS WHERE NAME = 'CFR00120')
	DROP VIEW DBO.CFR00120

IF EXISTS(SELECT * FROM SYS.VIEWS WHERE NAME = 'CFR00101')
	DROP VIEW DBO.CFR00101
  
-- [EDIORDERING].[DBO].[CFR00100] 
GO
CREATE VIEW CFR00100 AS
	SELECT ROUTENUMBER AS [RTID], DESCRIPTION AS [RTDescription]
	FROM [Route].ROUTE

-- [EDIORDERING].[DBO].[CFR00110]
GO
CREATE VIEW CFR00110 AS
	SELECT SITEID AS [SiteID], 
	ROUTENUMBER AS [RTID], 
	SOT.ORDERTYPEID as [SDType], 
	DDD.DAYOFWEEKID as [WeekDayNbr], 
	DDD.HASDELIVERY ^1 AS [NoDelivery], 
	DDD.DELIVERYCUTOFF as [CutoffTime], 
	DDD.IncrementDeliveryByDays as [DaysInc],
	'SALES ' + UPPER(D.NAME) AS [SalesBatch]
	FROM [Route].ROUTESITE RS LEFT JOIN [Route].ROUTE R ON RS.ROUTEID = R.ROUTEID
	LEFT JOIN [Route].SITEORDERTYPE SOT ON RS.ROUTESITEID = SOT.ROUTESITEID
	LEFT JOIN [Route].DELIVERYDATEDEFAULT DDD ON SOT.SITEORDERTYPEID = DDD.SITEORDERTYPEID
	LEFT JOIN [Route].DAYOFWEEK D ON DDD.DAYOFWEEKID = D.DAYOFWEEKID
GO

-- [EDIORDERING].[DBO].[CLINIC_SETTINGS]
GO
CREATE VIEW Clinic_Settings AS 
SELECT CustomerId AS [CUSTNMBR], DELAYEDBILLINGID AS [DelayedBilling], HASFINANCIALHOLD AS [FinanceHold], PETFOODID AS [PetFood], HASSHIPPINGCHARGE AS [ShippingCharge],
PETFOODMONEY AS [PetFood_Money], RS.ROUTENUMBER AS [RTID]
FROM [Route].CustomerSetting MS LEFT JOIN [Route].ROUTE RS ON MS.ROUTEID = RS.ROUTEID 

-- [EDIORDERING].[DBO].[CFR00120]
GO
CREATE VIEW CFR00120 AS 

SELECT DDE.DATE [DT_EXCEP], RS.SITEID [SITEID], R.ROUTENUMBER [RTID], SOT.ORDERTYPEID [SDTYPE], DDD.DAYOFWEEKID [WEEKDAYNBR], DDE.HASDELIVERY ^ 1 AS [NODELIVERY], 
	DDE.INCREMENTDELIVERYBYDAYS [DAYSINC], DDE.DELIVERYCUTOFF [CUTOFFTIME], 'SALES ' + UPPER(D.NAME) AS [SALESBATCH]
	FROM [Route].DELIVERYDATEEXCEPTION DDE
	LEFT JOIN [ROUTE].[DELIVERYDATEDEFAULT] DDD ON DDE.DELIVERYDATEDEFAULTID = DDD.DELIVERYDATEDEFAULTID
	LEFT JOIN [Route].DAYOFWEEK D ON DDD.DAYOFWEEKID = D.DAYOFWEEKID
	LEFT JOIN [Route].SITEORDERTYPE SOT ON DDD.SITEORDERTYPEID = SOT.SITEORDERTYPEID
	LEFT JOIN [Route].ORDERTYPE OT ON SOT.ORDERTYPEID = OT.ORDERTYPEID
	LEFT JOIN [Route].ROUTESITE RS ON SOT.ROUTESITEID = RS.ROUTESITEID
	LEFT JOIN [Route].ROUTE R ON RS.ROUTEID = R.ROUTEID
	LEFT JOIN [Route].SITE S ON RS.SITEID = S.SITEID
GO

CREATE VIEW [CFR00101]
AS
SELECT        OrderTypeID AS SDType, Name AS SDTypeDesc, NULL AS GPOrderType
FROM            [Route].OrderType

GO