/* BRANDING */

.navbar-default {
    background-color: #3F51B5;
    border-color: #303F9F;
    color: rgba(255,255,255,.87);
}

.navbar {
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: rgba(255,255,255,.87);
}
.text-primary {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255,255,255,.87);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

html, body {
    height: 100vh;
    overflow:hidden;
    color:black;
    background-color:#FAFAFA;
}

.panel-default {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel-default > .panel-heading {
    color: rgba(255,255,255,.87);
    background-color: #5C6BC0;
    border-color: #ddd;
}

.panel-default > .panel-heading > a > i.fa{
    color: white;
}