<span>
    <span class="fa-stack">
        <a href="#myModal" data-toggle="modal">
            <i class="fa fa-truck fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
            @*<i class="fa fa-circle-thin fa-stack-2x text-success"></i>*@
        </a>
    </span>
    <a href="#">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x text-primary">1</strong>
        </span>
    </a>
    <a href="#">
        <span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <strong class="text-info">15:00</strong>
        </span>
    </a>
</span>